---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        {
            Astro.url.pathname === import.meta.env.BASE_URL ? null : (
                <a href="/">Back home.</a>
            )
        }
        <slot />
    </body>
</html>
