---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Triage Labels">
    <meta http-equiv="refresh" content={`0; url=${import.meta.env.BASE_URL}about`}>
    <p>The content here has moved to the <a href={`${import.meta.env.BASE_URL}about`}>About</a> page.</p>
</Layout>
